@{
    ViewBag.Title = "Active Key";
    Layout = "_Layout";
}


<form asp-action="KeyService" method="post">
    <input type="text" name="__key" class="form-control" placeholder="Sua chave">
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>